version: "3.9"

services:
  wait-services:
    image: jwilder/dockerize
    command: dockerize -wait tcp://db:5432
    depends_on:
      - db
    networks:
      - api-network

  api:
    image: safe_elections
    expose:
      - "8000"
    volumes:
      - ./staticfiles:/usr/code/staticfiles:rw
      - ./mediafiles:/usr/code/mediafiles:rw
    env_file:
      - .env
    depends_on:
      - wait-services
    networks:
      - api-network

  db:
    image: postgres:14-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      POSTGRES_USER: scott
      POSTGRES_PASSWORD: tiger
      POSTGRES_DB: safe_elections
    ports:
      - "5432:5432"
    networks:
      - api-network

  nginx:
    volumes:
      - ./staticfiles:/usr/code/staticfiles:ro
      - ./mediafiles:/usr/code/mediafiles:ro
    build:
      context: ./.docker/nginx
      dockerfile: Dockerfile
    ports:
      - "8081:80"
    networks:
      - api-network
    restart: always

networks:
  api-network:
    driver: bridge

volumes:
  postgres_data:
